<h1 class='m-4'>List Of Blood Requirements</h1>
<div class="container">
    <table class="table table-bordered table-hover">
        <tr class="bg-danger text-white">
            <th>RequirementId</th>
            <th>Name</th>
            <th>BloodGroup</th>
            <th>State</th>
            <th>City</th>
            <th>PhoneNo</th>
            <th>Actions</th>
        </tr>
        @{
            try
            {
                if(TempData["BloodReq"]!=null)
                {
                    foreach(var x in (List<BBMS.Models.BloodReq>)TempData["BloodReq"])
                    {
                        <tr>
                        <td>@x.Id</td>
                        <td>@x.Name</td>
                        <td>@x.BloodGroup</td>
                        <td>@x.State</td>
                        <td>@x.City</td>
                        <td>@x.PhoneNo</td>
                        
                         </tr>
                    }
                }
            }
            catch
            {
                
            }
        }
    </table>

</div>